/* common style */
html {
  font-size: 10px;

  @media (--mq_sp) {
    font-size: calc(10px * 0.9);
  }
}

body {
  margin: 0;
  color: var(--color_key);
  background-color: var(--color_bg);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  letter-spacing: var(--letterSpacing);
  text-align: justify;
  font-feature-settings: "palt" on;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  & ::-moz-selection {
    background-color: var(--color_key);
    color: var(--color_bg);
  }

  & ::selection {
    background-color: var(--color_key);
    color: var(--color_bg);
  }

  @media (--mq_retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.link {
  @apply --link;
}
