:root {
  /* color */
  --color_bg: #fff;
  --color_key: #000;
  --color_sub: color(var(--color_key) alpha(50%));

  /* bg color */
  --bgColor_default: #fff;
  --bgColor_gray: color(var(--color_key) alpha(10%));
  --bgColor_selection: #fc524c;

  /* border color */
  --borderColor_default: color(var(--color_key) alpha(8%));

  /* text color */
  --textColor_default: var(--color_key);
  --textColor_inverse: var(--bgColor_default);
  --textColor_gray: color(var(--color_key) alpha(60%));
  --textColor_lightGray: color(var(--color_key) alpha(30%));

  /* font family */
  --fontFamily: system-ui, "Sans Serif", "Hiragino", "メイリオ", Meiryo,
    sans-serif;
  --fontFamily_loaded: "Neue Frutiger", "Noto Sans Japanese", sans-serif;
  --fontFamily_code: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono",
    Monaco, Consolas, monospace;
  --fontFamily_code_loaded: "Source Code Pro", monospace;

  /* font size */
  --fontSize: 1.6rem;
  --fontSize_default: 1.6rem;
  --fontSize_default_sp: 1.5rem;
  --fontSize_small: 1.2rem;
  --fontSize_small_sp: 1.1rem;
  --fontSize_xSmall: 1rem;
  --fontSize_h1: 2.8rem;
  --fontSize_h2: 2.2rem;
  --fontSize_h3: 1.8rem;
  --fontSize_h4: 1.5rem;
  --fontSize_h5: 1.3rem;
  --fontSize_h6: 1.3rem;
  --fontSize_h1_sp: 2.2rem;
  --fontSize_h2_sp: 1.8rem;
  --fontSize_h3_sp: 1.5rem;
  --fontSize_h4_sp: 1.3rem;
  --fontSize_h5_sp: 1.2rem;
  --fontSize_h6_sp: 1.2rem;
  --fontSize_code: 1.4rem;
  --fontSize_code_sp: 1.3rem;

  /* line height */
  --lineHeight_default: 1.8;
  --lineHeight_title: 1.4;
  --lineHeight_code: 1.5;
  --lineHeight_caption: 1.5;

  /* letter spacing */
  --letterSpacing: 0.05em;
  --letterSpacing_code: 0;

  /* transition */
  --duration: 1000ms;
  --duration_quick: 300ms;
  --duration_image: 700ms;
  --easing: cubic-bezier(0.165, 0.84, 0.44, 1); /* easeOutQuart */

  /* margin */
  --margin_page: 40px;
  --margin_page_sp: 20px;
  --margin_top: 150px;
  --margin_top_sp: 110px;
  --margin_bottom: 80px;
  --margin_bottom_sp: 50px;

  /* width */
  --width_index: 1000px;
  --width_single: 1000px;
  --width_content: 700px;
}
