%link {
  color: inherit;
  text-decoration: underline;

  body.is-pc & {
    &:hover {
      text-decoration: none;
    }
  }
}


%content {
  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
  }

  h1 { font-size: $fontSize_h1; }
  h2 { font-size: $fontSize_h2; }
  h3 { font-size: $fontSize_h3; }
  h4 { font-size: $fontSize_h4; }
  h5 { font-size: $fontSize_h5; }
  h6 { font-size: $fontSize_h6; }

  @include mq($mq_spLarge) {
    h1 { font-size: $fontSize_h1 * 0.9; }
    h2 { font-size: $fontSize_h2 * 0.9; }
    h3 { font-size: $fontSize_h3 * 0.9; }
    h4 { font-size: $fontSize_h4 * 0.9; }
    h5 { font-size: $fontSize_h5 * 0.9; }
    h6 { font-size: $fontSize_h6 * 0.9; }
  }

  p, ul, ol {
    margin: 0 0 1.2em;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  img {
    line-height: 0;
    margin: 0 0 1.2rem;
    width: 100%;
    height: auto;
    vertical-align: top;
  }

  p img {
    margin-bottom: 0,5em;
  }

  hr {
    width: 17%;
    height: 2px;
    background-color: $borderColor_default;
    border: none;
    margin: 3.5em auto;
  }

  blockquote {
    margin: 2em 0 2.15em;
    border-left: 5px solid $borderColor_default;
    padding-left: 15px;
    color: $textColor_gray;
  }
}
