%link {
  color: inherit;
  text-decoration: underline;

  body.is-pc & {
    &:hover {
      text-decoration: none;
    }
  }
}


%content {
  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
  }

  h1 {
    font-size: $fontSize_h1;
    margin-top: 2.5em;
  }
  h2 {
    font-size: $fontSize_h2;
    margin-top: 2.3em;
  }
  h3 {
    font-size: $fontSize_h3;
    margin-top: 2.1em;
  }
  h4 {
    font-size: $fontSize_h4;
    margin-top: 1.9em;
  }
  h5 {
    font-size: $fontSize_h5;
    margin-top: 1.7em;
  }
  h6 {
    font-size: $fontSize_h6;
    margin-top: 1.7em;
  }

  @include mq($mq_spLarge) {
    h1 { font-size: $fontSize_h1 * 0.9; }
    h2 { font-size: $fontSize_h2 * 0.9; }
    h3 { font-size: $fontSize_h3 * 0.9; }
    h4 { font-size: $fontSize_h4 * 0.9; }
    h5 { font-size: $fontSize_h5 * 0.9; }
    h6 { font-size: $fontSize_h6 * 0.9; }
  }

  p, ul, ol {
    margin: 1.5em 0;
  }

  ul {
    list-style-type: disc;
    padding-left: 1.5em;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5em;
  }

  ul , ol {
    ul, ol {
      margin: 0;
    }

    ul {
      list-style-type: circle;
    }
  }

  img {
    line-height: 0;
    max-width: 100%;
    height: auto;
    vertical-align: top;
    border: 1px solid $color_key;
  }

  :global(.img) {
    text-align: center;
    margin: 2.1em auto;

    &:first-child {
      margin-top: 0;
    }

    :global(.caption) {
      display: block;
      font-size: $fontSize_small;
      margin-top: 1.2em;
    }
  }

  blockquote, pre {
    margin: 2.1em 0;
  }

  blockquote {
    border-left: 1px solid $color_key;
    padding-left: 1.5em;
    color: $textColor_gray;
    font-style: italic;
  }

  code {
    vertical-align: top;
    margin: 0 0.25em;
    padding: 0 0.35em;
    font-family: $fontFamily_code;
    font-size: $fontSize_code;
    letter-spacing: $letterSpacing_code;
    border: 1px solid $color_key;
  }

  pre {
    border: 1px solid $color_key;
    padding: 1em 1.25em;
    background-clip: padding-box;
    word-wrap: normal;
    overflow-x: auto;

    code {
      white-space: pre;
      margin: 0;
      padding: 0;
      border: none;
      line-height: $lineHeight_code;
    }
  }

  hr {
    width: 12%;
    height: 1px;
    background-color: $color_key;
    border: none;
    margin: 3.5em 0;
  }
}
