@font-face {
  font-family: "Neue Frutiger"
  src: local("Neue Frutiger"), url("~fonts/NeueFrutiger-Book.woff2") format("woff2"), url("~fonts/NeueFrutiger-Book.woff") format("woff");
}

@font-face {
  font-family: "Neue Frutiger";
  src: local("Neue Frutiger"), url("~fonts/NeueFrutiger-Bold.woff2") format("woff2"), url("~fonts/NeueFrutiger-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans Japanese";
  src: local("Noto Sans CJK JP"), url("~fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"), url("~fonts/NotoSansCJKjp-DemiLight.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Japanese";
  src: local("Noto Sans CJK JP"), url("~fonts/NotoSansCJKjp-Bold.woff2") format("woff2"), url("~fonts/NotoSansCJKjp-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Source Code Pro";
  src: local("Source Code Pro"), url("~fonts/SourceCodePro-Regular.woff2") format("woff2"), url("~fonts/SourceCodePro-Regular.woff") format("woff");
}
