:root {
  /* clearfix */
  --clearfix: {
    &::after {
      clear: both;
      content: "";
      display: table;
    }
  }

  /* link */
  --link: {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: all var(--duration_quick) var(--easing);

    @nest :global(body.pc) &:hover {
      text-decoration: none;
      opacity: 0.7;
    }
  }

  /* info */
  --info: {
    font-size: var(--fontSize_small);

    @media (--mq_sp) {
      font-size: var(--fontSize_small_sp);
    }

    & .date {
      display: inline-block;
    }

    & .categories {
      display: inline-block;
      margin-left: 15px;

      @media (--mq_sp) {
        margin-left: 10px;
      }
    }

    & .category {
      display: inline-block;

      @apply --link;

      &::before {
        content: ", ";
      }

      &:first-child::before {
        content: "";
      }
    }
  }

  /*  content header  */
  --header: {
    max-width: var(--width_content);
    margin: var(--margin_top) auto 70px;

    @media (--mq_sp) {
      margin: var(--margin_top_sp) var(--margin_page_sp) 45px;
    }

    & .title {
      font-size: var(--fontSize_h1);

      @media (--mq_sp) {
        font-size: var(--fontSize_h1_sp);
      }
    }

    & .info {
      margin-top: 25px;

      @apply --info;
      @apply --clearfix;

      & .share {
        float: right;
        margin-top: 1px;
      }

      @media (--mq_sp) {
        margin-top: 15px;
      }
    }
  }
}
