/* reset box-sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* common style */
html {
  /* font-size: 62.5%; */
  font-size: 10px;
}

body {
  color: var(--textColor_default);
  background-color: var(--bgColor_default);
  font-family: var(--fontFamily_default);
  font-size: var(--fontSize_default);
  text-align: justify;
  line-height: var(--lineHeight_default);
  letter-spacing: var(--letterSpacing_default);
  font-synthesis: none;
  font-kerning: normal;
  font-feature-settings: "palt" on;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  & ::-moz-selection {
    background-color: color(var(--bgColor_selection) alpha(90%));
    color: var(--bgColor_default);
  }

  & ::selection {
    background-color: color(var(--bgColor_selection) alpha(90%));
    color: var(--bgColor_default);
  }

  @media (--mq_retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @media (--mq_sp) {
    font-size: var(--fontSize_default_sp);
  }
}

a {
  @apply --link;
}

.link {
  @apply --link;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: var(--lineHeight_title);
  letter-spacing: var(--letterSpacing_title);
}
