/* common style */
html {
  font-size: 10px;

  @media (--mq_sp) {
    font-size: calc(10px * 0.95);
  }
}

body {
  margin: 0;
  color: var(--color_key);
  background-color: var(--color_bg);
  font-family: var(--fontFamily);
  font-size: var(--fontSize);
  letter-spacing: var(--letterSpacing);
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;

  & ::-moz-selection {
    background-color: var(--color_key);
    color: var(--color_bg);
  }

  & ::selection {
    background-color: var(--color_key);
    color: var(--color_bg);
  }

  @media (--mq_retina) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  @nest :global(body[data-device="pc"]) &:hover {
    text-decoration: none;
    color: var(--color_key);
    background-color: var(--color_bg);
  }
}

.postInfo {
  font-size: var(--fontSize_small);

  & > * {
    display: inline-block;
  }

  & .categories {
    margin: 0 0 0 1.5em;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }

  & .category {
    display: inline-block;

    &::before {
      content: ", ";
    }

    &:first-child::before {
      content: "";
    }

    & span {
      @apply --link;
    }
  }
}
