:root {
  /* color */
  --color_bg: #fff;
  --color_key: #292c2e;
  --color_sub: color(var(--color_key) alpha(55%));
  --color_bgSub: color(var(--color_key) alpha(5%));

  /* font family */
  --fontFamily: YakuHanJPs, YakuHanJP, "Neue Frutiger", Hiragino, sans-serif;
  --fontFamily_code: Menlo, Monaco, "Courier New", Courier, monospace;

  /* font size */
  --fontSize: 1.6rem;
  --fontSize_small: 1.2rem;
  --fontSize_h1: calc(var(--fontSize) * 1.5);
  --fontSize_h2: calc(var(--fontSize) * 1.4);
  --fontSize_h3: calc(var(--fontSize) * 1.3);
  --fontSize_h4: calc(var(--fontSize) * 1.2);
  --fontSize_h5: calc(var(--fontSize) * 1.1);
  --fontSize_h6: calc(var(--fontSize) * 1);
  --fontSize_h1_sp: calc(var(--fontSize) * 1.4);
  --fontSize_h2_sp: calc(var(--fontSize) * 1.3);
  --fontSize_h3_sp: calc(var(--fontSize) * 1.2);
  --fontSize_h4_sp: calc(var(--fontSize) * 1.1);
  --fontSize_h5_sp: calc(var(--fontSize) * 1);
  --fontSize_h6_sp: calc(var(--fontSize) * 0.9);
  --fontSize_code: calc(var(--fontSize) * 0.9);

  /* line height */
  --lineHeight_title: 1.5;
  --lineHeight_content: 1.7;
  --lineHeight_caption: 1.5;
  --lineHeight_code: 1.5;

  /* letter spacing */
  --letterSpacing: 0.02em;

  /* margin */
  --margin_page: 40px;
  --margin_page_sp: 20px;
  --margin_top: 8em;
  --margin_top_sp: 6em;
  --margin_title: 10px;

  /* width */
  --width_content: 680px;

  /* link */
  --link: {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    @nest :global(body[data-device="pc"]) &:hover {
      text-decoration: none;
      color: var(--color_bg);
      background-color: var(--color_key);
    }
  }

  /* post header */
  --header: {
    max-width: calc(var(--width_content) + var(--margin_title) * 2);
    padding: calc(var(--margin_title));
    margin-right: calc(var(--margin_page) - var(--margin_title));
    margin-left: calc(var(--margin_page) - var(--margin_title));

    @media (--mq_sp) {
      margin-right: calc(var(--margin_page_sp) - var(--margin_title));
      margin-left: calc(var(--margin_page_sp) - var(--margin_title));
    }
  }

  /* post title */
  --title {
    margin: 0;
    font-size: var(--fontSize_h1);
    line-height: var(--lineHeight_title);

    @media (--mq_sp) {
      font-size: var(--fontSize_h1_sp);
    }
  }

  /* post info */
  --info: {
    margin-top: 8px;
    font-size: var(--fontSize_small);
    line-height: var(--lineHeight_caption);
    display: flex;

    & .categories {
      margin: 0 0 0 1em;
      padding: 0;
      list-style-type: none;
    }

    & .category {
      display: inline-block;

      &::after {
        content: ",";
        margin-right: 0.3em;
      }

      &:last-child::after {
        display: none;
      }

      & span {
        @apply --link;
      }
    }
  }

  /* post content */
  --content: {
    max-width: var(--width_content);
    margin-right: var(--margin_page);
    margin-left: var(--margin_page);

    @media (--mq_sp) {
      margin-right: var(--margin_page_sp);
      margin-left: var(--margin_page_sp);
    }
  }
}

@custom-media --mq_tablet only screen and (width < 1000px);
@custom-media --mq_sp only screen and (width < 740px);
@custom-media --mq_retina only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 1.5/1),
  only screen and (min-resolution: 144dpi),
  only screen and (min-resolution: 1.5dppx);
