@font-face {
  font-family: "Yaku Han JP";
  font-weight: normal;
  src: local("Yaku Han JP Light"), local("YakuHanJP-Light"),
    url("~fonts/YakuHanJP-Light.woff2") format("woff2"),
    url("~fonts/YakuHanJP-Light.woff") format("woff");
}

@font-face {
  font-family: "Yaku Han JP";
  font-weight: bold;
  src: local("Yaku Han JP Regular"), local("YakuHanJP-Regular"),
    url("~fonts/YakuHanJP-Regular.woff2") format("woff2"),
    url("~fonts/YakuHanJP-Regular.woff") format("woff");
}

@font-face {
  font-family: "Neue Frutiger";
  font-weight: normal;
  src: local("FrutigerNeueLTPro-Book"),
    url("~fonts/NeueFrutiger-Book.woff2") format("woff2"),
    url("~fonts/NeueFrutiger-Book.woff") format("woff");
}

@font-face {
  font-family: "Neue Frutiger";
  font-weight: bold;
  src: local("FrutigerNeueLTPro-Bold"),
    url("~fonts/NeueFrutiger-Bold.woff2") format("woff2"),
    url("~fonts/NeueFrutiger-Bold.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: normal;
  src: local("Noto Sans CJK JP DemiLight"), local("NotoSansCJKjp-DemiLight"),
    url("~fonts/NotoSansCJKjp-DemiLight.woff2") format("woff2"),
    url("~fonts/NotoSansCJKjp-DemiLight.woff") format("woff");
}

@font-face {
  font-family: "Noto Sans Japanese";
  font-weight: bold;
  src: local("Noto Sans CJK JP Bold"), local("NotoSansCJKjp-Bold"),
    url("~fonts/NotoSansCJKjp-Bold.woff2") format("woff2"),
    url("~fonts/NotoSansCJKjp-Bold.woff") format("woff");
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: normal;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"),
    url("~fonts/SourceCodePro-Regular.woff2") format("woff2"),
    url("~fonts/SourceCodePro-Regular.woff") format("woff");
}
